{% extends 'article/base.html' %}
{% load staticfiles %}
{% load article_tags %}
{% block title %}article detail{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}"/>
{% endblock %}
{% block js %}
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'editor/editormd.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var editor = editormd.markdownToHTML("editor_view", {
                htmlDecode: "style,script,iframe",
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
            });
        });
    </script>
    <script type="text/javascript">
        function like_article(id, action) {
            $.post('{% url "article:like_article" %}', {"id": id, "action": action}, function (data) {
                if (data == 1) {
                    layer.msg('感谢点赞');
                    window.location.reload();
                } else {
                    layer.msg('我会继续努力');
                    window.location.reload();
                }
            })
        }
    </script>
{% endblock %}
{% with total_like=article.user_like.count  user_like=article.user_like.all %}
    {% block content %}
        <div class="container">
            <div class="col-md-9">
                <header>
                    <h1>标题:{{ article.title }}</h1>
                    <p>作者:<a
                            href="{% url 'article:author_articles' article.author.username %}">{{ article.author.username }}</a>
                        <span style="margin-left: 20px"
                              class="glyphicon glyphicon-thumbs-up">{{ total_like }} like {{ total_like|pluralize }}</span>
                        <span style="margin-left: 20px">{{ total_views }} view {{ total_views|pluralize }}</span>
                    </p>
                    <p>
                        <span style="margin-right: 10px"><strong>tags:</strong></span>{{ article.article_tag.all |join:',' }}
                    </p>
                </header>
                <div id="editor_view">
                                        <textarea id="append_test" style="display: none">
                                            {{ article.body }}
                                        </textarea>
                    {#                    {{ article.body|markdown }}#}
                </div>
                <div>
                    <p class="text-center">
                        <a onclick="like_article({{ article.id }},'like' )" href="#"><span
                                class="glyphicon glyphicon-thumbs-up">like</span></a><span>|</span>
                        <a onclick="like_article({{ article.id }},'unlike' )" href="#"><span
                                class="glyphicon glyphicon-thumbs-down">unlike</span></a>
                    </p>
                </div>
                <div>
                    <p class="text-center"><strong>点赞本文的读者</strong></p>
                    {% for user in article.user.user_like.all %}\
                        <p class="text-center">{{ user.username }}</p>
                    {% empty %}
                        <p class="text-center">还没有人对此文章表态</p>
                    {% endfor %}
                </div>
                <hr>
                <div>
                    <h3><span class="glyphicon glyphicon-bullhorn"></span> 本文有{{ comments.count }}评论 </h3>
                    {% for commnet in article.comments.all %}
                        <div>
                            <p><strong>{{ commnet.commentator }}</strong> 说: </p>
                            <p style="margin-left: 40px">{{ commnet.body }}</p>
                        </div>
                    {% empty %}
                        <p>没有评论</p>
                    {% endfor %}
                    <h3><span class="glyphicon glyphicon-send"></span> 看文章，发评论，不要沉默 </h3>
                    <form action="." method="post" class="form-horizontal" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label"> 评论员 </label>
                            <div class="col-sm-10">
                                {{ comment_form.commentator }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label"> 评论 </label>
                            <div class="col-sm-10">
                                {{ comment_form.body }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <p><input type="submit" name="" value="发布" class="btn btn-primary btn-lg"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <p class="text-center">
                <h3>最受欢迎的文章</h3></p>
                <ol>
                    {% for article in most_viewed %}
                        <li>
                            <a href="{{ article.get_url_path }}">{{ article.title }}</a>
                        </li>
                    {% endfor %}
                </ol>
                <hr>
                <p class="text-center">
                <h3>最新文章</h3></p>
                {% latest_articles 4 %}
                <hr>
                <p class="text-center">
                <h3>最多评论文章</h3></p>
                {% most_commented_articles 4 %}
                <hr>
                <p class="text-center">
                <h3>推荐相似的文章</h3></p>
                <ul>
                    {% for similar in similar_articles %}
                        <p><a href="{{ similar.get_url_path }}">{{ similar.title }}</a></p>
                    {% empty %}
                        <p>sorry,没有相似的文章</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
        </div>

    {% endblock %}
{% endwith %}